    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Raketebar</h2>
                <p>Einmal im Monat wird aus dem GZ Kafi die Rakete-Bar. Wir bieten dir eine kulturelle Mitmachplattform....blablalb. Komm vorbei!</p>
                <p>Die Rakete-Bar ist eine Idee des Vereins <a href="http://hochneun.ch">hochneun</a> und kann realisiert werden durch die enge Zusammenarbeit mit dem GZ Bachwiesen. Die Bar sowie die Organisation der Events werden vollkommen ehrenamtlich betrieben.</p>
                <button class="btn btn-default btn-lg">Mitmachen</button>
            </div>
        </div>
    </section>