<!-- Download Section -->
<section id="events" class="content-section text-center">
    <div class="events-section">
        <div class="container">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="img/downloads-bg.jpg" class="editable" alt="Event 1">
                    <div class="caption">
                      <h3 class="editable">Event Titel</h3>
                      <p class="editable">Event Text</p>
                      <p class="editable"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="http://www.google.ch" class="btn btn-default" role="button">Link zum Event</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="img/downloads-bg.jpg" alt="Event 2">
                    <div class="caption">
                      <h3>Event Titel</h3>
                      <p>Event Text</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="http://www.google.ch" class="btn btn-default" role="button">Link zum Event</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="img/downloads-bg.jpg" alt="Event 3">
                    <div class="caption">
                      <h3>Event Titel</h3>
                      <p>Event Text</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="http://www.google.ch" class="btn btn-default" role="button">Link zum Event</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

